.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  margin: 0;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
    form {
      width: 100%;
    }
  }
}